<div class="modal fade" id="globalSearchModal" tabindex="-1" role="dialog" aria-labelledby="globalSearchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content global-search-modal-content">
            <div class="modal-header global-search-modal-header"></div>
            <div class="modal-body">
                <form>
                    <div class="form-group global-search-form">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text search-input-addon" for="global-search-value">{{{feather 'search'}}}</label>
                            </div>
                            <input type="text" class="form-control form-control-lg" id="global-search-value">
                        </div>
                    </div>
                </form>
                <ul class="list-group col-12 invisible" id="global-search-results"></ul>
            </div>
        </div>
    </div>
</div>