<div class="modal fade" id="variantEditModal" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="confirmModalLabel">Product variant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="variant-edit-product" value="{{result._id}}">
                <input type="hidden" id="variant-edit-id">
                <div class="form-group">
                    <label for="variant-edit-title" class="col-form-label">Title:</label>
                    <input type="text" class="form-control" id="variant-edit-title" placeholder="Small">
                    <p class="help-block">{{ @root.__ "Shown in the variant dropdown" }}</p>
                </div>
                <div class="form-group">
                    <label for="variant-edit-price" class="col-form-label">Price:</label>
                    <input type="number" class="form-control" id="variant-edit-price" placeholder="29.99">
                </div>
                <div class="form-group">
                    <label for="variant-edit-stock" class="col-form-label">Stock:</label>
                    <input type="number" class="form-control" id="variant-edit-stock" placeholder="0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger mr-auto" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveVariant" class="btn btn-outline-success">Save variant</button>
            </div>
        </div>
    </div>
</div>
</div>