<nav id="navbarMenu" class="navbar navbar-expand-lg navbar-light bg-light navbarMenuWrapper col-sm-12">
    <div class="col-sm-8 offset-md-2 collapsed navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{#unless searchTerm}}active{{/unless}}"><a class="nav-link" href="/">Home</a></li>
            {{#each menu.items}}
                <li class="nav-item"
                    {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                    {{#menuMatch this.title @root.title}}{{/menuMatch}}>
                    <a class="nav-link" href="{{this.link}}">{{this.title}}</a>
                </li>
            {{/each}}
        </ul>
        <form class="form-inline ml-auto">
            <input class="form-control mr-sm-2" name="frm_search" id="frm_search" type="search" placeholder="{{ @root.__ "Search shop" }}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ @root.__ "Search" }}</button>
        </form>
    </div>
</nav>