<nav id="navbarMenu" class="navbar-expand-lg navbar navbar-light bg-light navbarMenuWrapper col-sm-12">
    <div class="col-sm-8 offset-md-2 collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{#unless searchTerm}}active{{/unless}}"><a class="nav-link" href="/">Home</a></li>
            {{#each menu.items}}
                <li class="nav-item"
                    {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                    {{#menuMatch this.title @root.title}}{{/menuMatch}}>
                    <a class="nav-link" href="{{this.link}}">{{this.title}}</a>
                </li>
            {{/each}}
        </ul>
        <form class="form-inline ml-auto">
            <div class="input-group">
                <input class="form-control" name="frm_search" id="frm_search" type="search" placeholder="{{ @root.__ "Search shop" }}" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" id="btn_search" type="submit">{{ @root.__ "Search" }}</button>
                </div>
            </div>
        </form>
    </div>
</nav>