{{> themes/Cloth/front-menu}}
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="product-layout">
            {{{page.pageContent}}}
        </div>
    </div>
</div>