<div class="col-xl-8 col-xl-offset-2 col-xs-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/checkout">Checkout</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pay</li>
        </ol>
    </nav>
    <div class="row">
        {{#if paymentMessage}}
            <p class="text-danger text-center">{{paymentMessage}}</p>
        {{/if}}
        <div class="col-md-5">
            <div class="panel panel-default" style="margin-top: 30px;">
                <div class="panel-heading">Customer details</div>
                {{#unless session.customer}}
                <div class="panel-body customer-details-login">
                    <p>Existing customer</p>
                    <div class="form-group">
                        <input type="email" class="form-control" id="customerLoginEmail" name="loginEmail" minlength="5" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="customerLoginPassword" name="loginPassword" minlength="5" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <a href="/customer/forgotten" class="btn btn-default pull-left">Forgotten</a>
                    </div>
                    <div class="form-group">
                        <button id="customerLogin" class="btn btn-success pull-right" type="submit">Login</button>
                    </div>
                </div>
                {{/unless}}
                <div class="panel-body customer-details">
                    {{#if session.customer}}
                    <div class="col-xs-12 col-md-12">
                        <button id="customerLogout" class="btn btn-sm btn-success pull-right">Change customer</button>
                    </div>
                    {{/if}}
                    <form id="shipping-form" class="shipping-form" action="/{{config.paymentGateway}}/checkout_action" method="post" role="form" data-toggle="validator" novalidate="false">
                        {{> partials/payments/shipping-form}}
                        {{#if session.customer}}
                        {{#ifCond config.paymentGateway '==' 'paypal'}}
                            {{> partials/payments/paypal}}
                        {{/ifCond}}
                        {{/if}}
                        {{#unless session.customer}}
                        <div class="col-xs-12 col-md-12">
                            <p class="text-muted">Enter a password to create an account for next time</p>
                            <div class="form-group">
                                <input type="password" class="form-control customerDetails" id="newCustomerPassword" name="newCustomerPassword" placeholder="Password" required>
                            </div>
                            <a id="createCustomerAccount" class="btn btn-success pull-right">Create account</a>
                        </div>
                        {{/unless}}
                    </form>
                    {{#if session.customer}}
                    {{#ifCond config.paymentGateway '==' 'stripe'}}
                        {{> partials/payments/stripe}}
                    {{/ifCond}}
                    {{#ifCond config.paymentGateway '==' 'authorizenet'}}
                        {{> partials/payments/authorizenet}}
                    {{/ifCond}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="cart" class="col-md-7">
            {{> (getTheme 'cart')}}
        </div>
    </div>
</div>
