<div class="col-md-10 offset-md-1 col-sm-12 top-pad-50">
    <div class="row">
        <div class="text-center col-md-10 offset-md-1">
            <h2 class="text-success">Thank you. Order have been received.</h2>
            <div>
                <p><h5>Order will be be processed upon confirmation by the bitcoin network.  Please keep below order details for reference.</h5></p>
                <p><strong>{{ @root.__ "Order ID" }}:</strong> {{result._id}}</p>
                <p><strong>{{ @root.__ "Payment ID" }}:</strong> {{result.orderPaymentId}}</p>
            </div>
            <a href="/" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
</div>
