<div class="col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="padding-top: 100px" >
	<form class="form-signin" action="/{{route}}/forgotten_action" method="post" role="form" data-toggle="validator">
		<h2 class="form-signin-heading">Please enter your email address</h2>
		<div class="form-group">
			<input type="email" name="email" class="form-control" placeholder="email address" required autofocus>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
	</form>
</div>
