<div class="col-md-4 ffset-md-4 top-pad-100">
	<form class="form-signin" id="customerForgotten" data-toggle="validator">
		<h2 class="form-signin-heading">{{ @root.__ "Please enter your email address" }}</h2>
		<div class="form-group">
			<input type="email" id="email" class="form-control" placeholder="email address" required autofocus>
		</div>
		<button class="btn  btn-outline-primary btn-block">{{ @root.__ "Reset" }}</button>
	</form>
</div>
