<div class="col-md-4 offset-md-4">
	<form class="form-signin" action="/{{route}}/reset/{{token}}" method="post" role="form" data-toggle="validator">
		<h2 class="form-signin-heading">Password reset</h2>
		<div class="form-group">
            <label for="user_password">Password *</label>
            <input type="password" class="form-control" id="user_password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="frm_user_password_confirm">{{ @root.__ "Confirm" }} password *</label>
            <input type="password" data-match="#user_password" placeholder="Confirm password" class="form-control" name="frm_user_password_confirm" required>
        </div>
		<button class="btn  btn-outline-success btn-block" type="submit">{{ @root.__ "Update" }} password</button>
        </br>
	</form>
</div>
