{{> partials/menu}}
<div class="col-lg-9">
	<div class="row">
		<div class="col-md-10">
            <h2 class="clearfix">Static pages <div class="pull-right"><a href="/admin/settings/pages/new" class="btn btn-success">New page</a></div></h2>
            <p class="text-muted">
                Here you can setup and manage static pages for your shopping cart.
                You may want to setup a page with a little bit about your business called "About" or "Contact Us" etc.
            </p>
            {{#if pages}}
                <ul class="list-group">
                    {{#each pages}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h5><strong>Name:</strong>&nbsp; {{pageName}}</h5>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <a class="btn btn-sm btn-success" href="/admin/settings/pages/edit/{{_id}}">Edit</a>
                                    <a class="btn btn-sm btn-danger" href="/admin/settings/pages/delete/{{_id}}">Delete</a>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <h4 class="text-warning text-center">There are currently no static pages setup. Please setup a static page.</h4>
                <p class="text-center">
                    <a class="btn btn-success" href="/admin/settings/pages/new"> Create new</a>
                </p>
            {{/if}}
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">