@accent-color: #cc4135;
@nav-menu-bg: #f5f5f5;
@btn-danger-color-txt: #ffffff;
@btn-danger-color-bg: #000000;
@btn-danger-color-border: #000000;

.btn-warning, .btn-outline-primary {
    color: @btn-danger-color-txt !important;
    background-color:@btn-danger-color-bg;
    border-color: @btn-danger-color-border;
}

.btn-outline-danger {
    color: @btn-danger-color-txt !important;
    background-color: @accent-color;
    border-color: @accent-color;
}

.has-error input, .has-error textarea, .has-error div {
    border-color: @accent-color;
}

.search-bar-input, #frm_search, .search-bar-input .btn {
    padding-top: 10px;
    height: 45px;
}

.productsWrapper{
    padding-right: 10px;
    padding-left: 10px;
}

.searchBarWrapper{
    padding-right: 0;
    padding-left: 0;
}

.footer{
    padding-top: 20px;
}

.product-price {
    padding-bottom: 0;
}

.navbarMenuWrapper{
    background-color: @nav-menu-bg;
}

.navbarMenu>ul>li>a:hover{
    color: @accent-color !important;
}

.navbarMenu{
    padding-right: 0;
    padding-left: 0;
}

.product-wrapper>a:hover{
    color: @accent-color !important;
}

.navbar-static-top, #navbar, .navbar-header, #navbar>.navbar-nav, #navbar>.navbar-nav>li>a{
    margin-bottom: 0;
    height: 100px !important;
}

#navbar>.navbar-nav>li>a{
    padding-top: 35px;
}

.pagination>li>a{
    background-color: @accent-color !important;
}

/* Fixes summernote editor issue: https://github.com/summernote/summernote/issues/2516 */
body .popover{display:none !important; }

.navbar-brand{
    color: @accent-color !important;
    letter-spacing: 4px;
    padding-left: 20px !important;
    padding-top: 0 !important;
    height: 80px !important;
    font-size: 55px !important;
}

.navbar-brand-image, .navbar-brand{
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
}

.navbar-default .badge {
    background-color: @accent-color;
}

.pushy-link:hover, .pushy-link:focus, .pushy-link:active, .pushy-link:active:hover,
#empty-cart:hover, #empty-cart:focus, #empty-cart:active, #empty-cart:active:hover{
    border-color: @accent-color;
    background-color: @accent-color;
}

.navActive>a{
    margin-bottom: 0px;
    padding-top: 15px;
    border-bottom: 5px solid @accent-color;
}

.navbar-static-top, #navbar, .navbar-header, #navbar>.navbar-nav, #navbar>.navbar-nav>li>a {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #838b8f;
    font-size: 20px;
}

@media only screen and (max-width: 768px){
    .navbar-default .navbar-brand {
        padding-top: 10px;
    }

    .navbar-default .navbar-nav>li>a{
        font-size: 16px;
    }

    .searchBarWrapper{
        padding-top: 10px;
    }

    .navbarMenuWrapper{
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbarMenuOuter{
        padding-left: 0;
        padding-right: 0;
    }

    .navActive>a {
        color: #fff !important;
    }

    .navbarMenu {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    .navActive>a{
        color: white !important;
        background-color: @accent-color;
        border-bottom: none;
    }

    .footer {
        padding-top: 10px;
    }
}