<nav class="navbarMenuWrapper">
    <div class="nav-wrapper">
        <div class="col m8 offset-m2 navbarMenu">
            <ul>
                <li {{#unless searchTerm}}class="navActive"{{/unless}}><a href="/">Home</a></li>
                {{#each menu.items}}
                    <li
                        {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                        {{#menuMatch this.title @root.title}}{{/menuMatch}}>
                        <a href="{{this.link}}">{{this.title}}</a>
                    </li>
                {{/each}}
                <div class="pull-right hide-on-small-only">
                    <li>
                        <input type="text" name="frm_search" id="frm_search" class="input-field" placeholder="Search the shop">
                    </li>
                    <li>
                        <button class="btn waves-effect waves-light blue darken-3" id="btn_search" type="submit">{{ @root.__ "Search" }}</button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>