<div class="col s12 xl8 offset-xl2">
    <div class="row">
        <div class="text-center col m10 offset-m1">
            {{#ifCond result.orderStatus '==' 'Paid'}}
                <h2 class="text-success">Your payment has been successfully processed</h2>
            {{else}}
                <h2 class="text-danger">Your payment has failed. Please try again or contact us.</h2>
            {{/ifCond}}
            {{#if result}}
                <div>
                    <p><strong>Order ID:</strong> {{result._id}}</p>
                    <p><strong>Payment ID:</strong> {{result.orderPaymentId}}</p>
                </div>
            {{/if}}
            {{#ifCond result.orderStatus '==' 'Paid'}}
                <h3 class="text-warning">Please retain the details above as a reference of payment.</h3>
            {{/ifCond}}
            <a href="/" class="btn waves-effect waves-light blue darken-3">Home</a>
        </div>
    </div>
</div>