<div>
    <div class="mb-2">{{@root.paymentConfig.adyen.description}}</div>
    <div id="dropin-container"></div>
    {{#ifCond @root.paymentConfig.adyen.evironment '==' 'test'}}
    <link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.0.0/adyen.css" integrity="sha384-0IvbHDeulbhdg1tMDeFeGlmjiYoVT6YsbfAMKFU2lFd6YKUVk0Hgivcmva3j6mkK" crossorigin="anonymous">
    <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.0.0/adyen.js" integrity="sha384-kcKKvS6qZbXycrUw31OJ2/2Hz8A8FTsV9anjvpyQc/IWR1SmkFUw7w7F/t5S3qtA" crossorigin="anonymous"></script>
    {{else}}
    <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.0.0/adyen.js" integrity="sha384-kcKKvS6qZbXycrUw31OJ2/2Hz8A8FTsV9anjvpyQc/IWR1SmkFUw7w7F/t5S3qtA" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.0.0/adyen.css" integrity="sha384-0IvbHDeulbhdg1tMDeFeGlmjiYoVT6YsbfAMKFU2lFd6YKUVk0Hgivcmva3j6mkK" crossorigin="anonymous">
    {{/ifCond}}
</div>