<div id="stripe-form">
    <input type="hidden" id="stripePublicKey" value="{{@root.paymentConfig.stripe.publicKey}}">
    <div class="mb-2">{{@root.paymentConfig.stripe.description}}</div>
    <form id="stripe-payment-form">
      <div id="card-element"></div>
      <button class="btn btn-outline-success mt-2">Process Payment</button>
    </form>
</div>