<script src="https://static.zipmoney.com.au/checkout/checkout-v1.min.js"></script>
{{!-- <button  style="background-image:url('/images/zip.svg'); height: auto;">
    
</button> --}}
<div class="mb-2">{{@root.paymentConfig.zip.description}}</div>
<input id="zip-checkout" type="image" src="/images/zip.svg" alt="Pay with Zip" width="48" height="48">