<nav class="col m2 navbarMenuWrapper">
    <div class="nav-wrapper">
        <div class="col m12 navbarMenu">
            <ul>
                <li>
                    <div class="col m8">
                        <input type="text" name="frm_search" id="frm_search" class="input-field" placeholder="Search...">
                    </div>
                    <div class="col m4">
                        <a class="col m8 waves-effect waves-light btn black right" id="btn_search"><i class="material-icons white-text">search</i></a>
                    </div>
                </li>
                <li {{#unless searchTerm}}class="navActive"{{/unless}}><a href="/">Home</a></li>
                {{#each menu.items}}
                    <li
                        {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                        {{#menuMatch this.title @root.title}}{{/menuMatch}}>
                        <a href="{{this.link}}">{{this.title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</nav>