{{> themes/Mono/front-menu}}
<div class="row">
    <div class="col m8 offset-m2 col l8 offset-l2">
        <div class="pagelayout-wrapper">
            {{{page.pageContent}}}
        </div>
    </div>
</div>