name: expressCart tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
services:
  mongodb:
    image: mongo:3.4.23
    ports:
      - 27017:27017
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: npm i
    - name: npm test
      run: npm run test
      env:
        test: true